*{
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url('images/banner.jpg');
    height: 100vh;
}
.owncolor{
    color:#E76F51;
}
.btncolor{
    background:#ff886a ;
}
.btncolor:hover{
    background:#ff886a ;

}